<!-- <h1>Angular Application Running</h1>

<h3>Interpolation Syntax</h3>

<p>Name : {{name}}</p>
<p>{{10 + 10}}</p>

<h3>Property Binding Syntax</h3>

<input type="text" [value]="name"/> | 

<input type="text" value="{{name}}"/>

<br/>
 -->
<!-- <button disabled="{{isDisabled}}">I Am A Button</button> -->
 <!-- <button [disabled]="isDisabled">I Am A Button</button>

 <hr/> -->

<!-- <button>Increment Counter</button>
 <p>Counter Value : {{co}}</p> --> 

 <!-- <h1>New Learning</h1>

 <p>App Component Paragraph</p>

 <app-homea></app-homea> -->

 <!-- <app-homeb></app-homeb> -->
<!-- 
 <h1 appHighlight="red">Directives in Angular</h1>

 <p>First Paragraph</p>

 <p appHighlight="skyblue">Second Paragraph</p>

 <p appHighlight>Third Paragraph</p> -->

 <!-- <h1>Pipe In Angular</h1>

 <p>Input : {{sentence}}</p>

 <p>Input in upper : {{sentence | uppercase}}</p>

 <p>Input in lower : {{sentence | lowercase}}</p>

 <p>Input in title case : {{sentence | titlecase}}</p>

 <p>slice : {{sentence | slice : 5 : 10}}</p>

 <p>dob : {{ dob }}</p>

 <p>dob date pipe : {{ dob | date}}</p>

 <p>dob short : {{ dob | date : 'short'  }}</p>

 <p>dob long : {{ dob | date : 'longDate'  }}</p>

 <p>dob long : {{ dob | date : 'longDate' | uppercase  }}</p>

 <p>fees : {{fees}}</p>

 <p>fees currency pipe: {{fees | currency }}</p>

 <p>fees currency pipe parameter: {{fees | currency : 'USD' : 'code' }}</p>

 <p>fees currency pipe parameter: {{fees | currency : 'USD' : 'symbol' }}</p>

 
 <p>fees Indian currency pipe parameter: {{fees | currency : 'INR' : 'code' }}</p>

 <p>fees Indian currency pipe parameter: {{fees | currency : 'INR' : 'symbol' }}</p>

<p>fees with square pipe : {{fees | square}}</p> 

<p>dob : {{ dob }}</p>

<p>dob with age pipe : {{ dob | age }}</p>

<div>
    {{users | json}}
</div>

 -->

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLink="homea">Home A</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="homeb">Home B</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#" routerLink="vhaash">VHaash</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#" routerLink="parent">Parent</a>
        </li>
           <li class="nav-item">
          <a class="nav-link" href="#" routerLink="student">Student</a>
        </li>
           <li class="nav-item">
          <a class="nav-link" href="#" routerLink="hook">Hooks</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#" routerLink="tdf">TDF</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#" routerLink="reactive">REACTIVE</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


 <!-- <h1>Routing</h1> -->

 <router-outlet></router-outlet>
